[Desktop Entry]
Name=Eddy
Exec=/opt/Eddy/eddy
Type=Application
Icon=/opt/Eddy/images/file-kiranshastry-64.png
Comment=Text editor for humans
Categories=Qt;GNOME;Utility;